<nav class="navbar navbar-expand-lg justify-content-center navbar-dark"
    style="background-color: black !important;display:inline-block;float:none;vertical-align: top;text-align:center;width:100%">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;width:100%;">
        <ul class="list-inline text-center" style="width:100%; color: white;">
            <li class="list-inline-item">
                <a class="navbar-brand" href="/"><img src="/static/icons/logo.png" alt="" width="40" height="40"></a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" id="home" aria-current="page" href="/" style="color:gray;">Home</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" id="PinePhone" href="/PinePhone" style="color:gray;">PinePhone</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" id="PinePad" href="/PinePad" style="color:gray;">PinePad</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" id="PineTag" href="/PineTag" style="color:gray;">PineTag</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" id="PineWatch" href="/PineWatch" style="color:gray;">PineWatch</a>
            </li>
            <li class="list-inline-item active">
                <a class="nav-link active" id="ThePineApple" href="/ThePineApple" style="color:gray;">The
                    PineApple</a>
            </li>
        </ul>
    </div>
</nav>