<nav class="navbar navbar-expand-lg justify-content-center navbar-dark" style="background-color: black !important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/static/icons/logo.png" alt="" width="40" height="40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/PinePhone">PinePhone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/PinePad">PinePad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/PineTag">PineTag</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/PineWatch">PineWatch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/PineApple">The PineApple</a>
                </li>
            </ul>
        </div>
    </div>
</nav>