<nav class="navbar navbar-expand-lg justify-content-center navbar-dark"
    style="background-color: black !important;display:inline-block;float:none;vertical-align: top;text-align:center;width:100%">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;width:100%;">
        <ul class="list-inline text-center" style="width:100%; color: white;">
            <li class="list-inline-item">
                <a class="navbar-brand" href="/"><img src="/static/icons/logo.png" alt="" width="40" height="40"></a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link active" aria-current="page" href="/" style="color:white;">Home</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link active" href="/PinePhone" style="color:white;">PinePhone</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link active" href="/PinePad" style="color:white;">PinePad</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link active" href="/PineTag" style="color:white;">PineTag</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link active" href="/PineWatch" style="color:white;">PineWatch</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link active" href="/PineApple" style="color:white;">The PineApple</a>
            </li>
        </ul>
    </div>
</nav>