{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
<div class="container-sm" style="margin-top:5%">
    <div class="card text-light" style="background-color: black">
        <img src="/static/products/PinePhone/phone3.png" class="card-img" alt="..." width="400" height="1000">
        <div class="card-img-overlay text-center" style="margin-top: 7%">
            <h5 class="card-title"> PinePhone X 2 Pro Max Mini 5G+</h5>
            <button type="button" class="btn btn-primary btn-lg">Buy Now!</button>
        </div>
    </div>
</div>
{% endblock %}