{% extends "base.html" %}
{% block title %}PinePad{% endblock %}


{% block content %}
<input type="hidden" value="PinePad" id="active">
<div class="container-md" style="margin-top:5%">
    <div class="card text-light" style="background-color: black;">
        <img src="/static/products/PinePad.png" class="card-img" alt="..."
            style="display:block;margin:auto;margin-top:5%;margin-bottom:5%;">
    </div>
</div>
<div class="container-md" style="margin-top:5%">
    <div class="card text-light" style="background-color: black;">
        <img src="/static/products/PinePadBaby.png" class="card-img" alt="...">
        <div class="card-img-overlay text-center" style="margin-top: 10%; margin-left: 50%;">
            <h2 class="card-text">Bigger than ever</h2>
            <h6 class="card-title">Image to scale</h6>
        </div>
    </div>
</div>
<div class="container-md" style="margin-top:5%; height: 50%">
    <div class="card " style="background-color: black;">
        <div class="row g-0">
            <div class="col-lg-5">
                <img src="/static/products/PinePadFront.png" alt="..." style="display:block; margin-top: 30%;">
            </div>
            <div class="col-sm-5">
                <div class="card-body">
                    <ul class="list-group bg-dark text-light" style="color: white; background-color: black;">
                        <li class="list-group-item" style="background-color: black;"><b>Starting at $4200,9</b></li>
                        <li class="list-group-item" style="background-color: black;">7 feet XXL Super Retina XDR
                            display
                        </li>
                        <li class="list-group-item" style="background-color: black;">WIFI 9</li>
                        <li class="list-group-item" style="background-color: black;">XXL Bionic chip</li>
                        <li class="list-group-item" style="background-color: black;">11 camera system<br>
                            (Ultra Wide, Wide, Telephoto)
                        </li>
                        <li class="list-group-item" style="background-color: black;">LiGMA Scanner for Night mode
                            portraits
                            and
                            next‑level AR</li>
                        <li class="list-group-item" style="background-color: black;">Compatible with
                            PineSafe accessories</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}