{% extends "base.html" %}
{% block title %}PineWatch{% endblock %}


{% block content %}
<input type="hidden" value="PineWatch" id="active">
<div class="container-sm" style="margin-top:2%">
    <div class="card text-light" style="background-color: black">
        <img src="/static/products/Klokke.png" class="card-img" alt="..." width="400" height="1000">
        <div class="card-img-overlay text-center" style="margin-top: 7%">
            <h1 class="card-title" style="color: black;">Watch out, Watch out, Watch out!</h1>
            <h5 class="card-title" style="color: black;">PineWatch 9-series XL</h5>
        </div>
    </div>
</div>
<div class="container-md" style="margin-top:5%; height: 50%">
    <div class="card " style="background-color: black;">
        <div class="row g-0">
            <div class="col-lg-5">
                <img src="/static/products/Klokke.png" alt="..." width="100%" height="100%">
            </div>
            <div class="col-sm-5">
                <div class="card-body">
                    <ul class="list-group bg-dark text-light" style="color: white; background-color: black;">
                        <li class="list-group-item" style="background-color: black;"><b>Starting at $9001,99</b></li>
                        <li class="list-group-item" style="background-color: black;">Premium Materials
                        </li>
                        <li class="list-group-item" style="background-color: black;">Shows correct time</li>
                        <li class="list-group-item" style="background-color: black;">Gold Plaited Interface</li>
                        <li class="list-group-item" style="background-color: black;">70 pounds</li>
                        <li class="list-group-item" style="background-color: black;">Unlimited hours batterylife</li>
                        <li class="list-group-item" style="background-color: black;">Compatible with
                            PineSafe accessories</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}